.element {
    height: 50px;
    width: 50px;
    font-size: 1px;
    padding: 1px;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    animation: roll 3s infinite;
    transform: rotate(30deg);
    opacity: .7;
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}